*.log*
tts/
nest/
image/
rtsp2webrtc_v5_aarch64
rtsp2webrtc_v5_amd64
.storage/
zigbee2mqtt/
.sonoff.json
service_account.json
*august.conf
zigbee.db
.storage
.vscode
backups/
rtsp2webrtc_v4_amd64
ip_bans.yaml
www
deps
custom_components
.cloud
.bash_history
.cache/
.python_history
