*.db
*.db-shm
*.db-wal
*.log*
*august.conf
.bash_history
.cache/
.cloud
.config
.python_history
.sonoff.json
.storage
.storage/
.vscode
backups/
custom_components
deps
image/
ip_bans.yaml
lost+found/
nest/
rtsp2webrtc_v4_amd64
rtsp2webrtc_v5_aarch64
rtsp2webrtc_v5_amd64
service_account.json
tts/
www
zigbee.db
zigbee2mqtt/
